@page
@model PropertyManagerWeb.Pages.CInquilinos.IndexModel
@{
    ViewData["Title"] = "Index Propiedades";
}
<h1>Index Categories</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Inquilinos[0].Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Inquilinos[0].Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Inquilinos[0].Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Inquilinos[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.Inquilinos[0].IdPropiedad)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inquilinos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.IdPropiedad)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
